@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Urbanist", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #ff9324;
}

@layer base {
  html {
    font-family: var(--font-display);
  }
 
  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

@layer utilities {
  @keyframes text-shine {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  .animate-text-shine {
    animation: text-shine 3s ease-in-out infinite alternate;
    -webkit-animation: text-shine 3s ease-in-out infinite alternate;
  }

  @keyframes blob1 {
    0%,
    100% {
      transform: translate(0px, 0px);
      -webkit-transform: translate(0px, 0px);
      -moz-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      -o-transform: translate(0px, 0px);
    }

    33% {
      transform: translate(30px, -60px);
      -webkit-transform: translate(30px, -60px);
      -moz-transform: translate(30px, -60px);
      -ms-transform: translate(30px, -60px);
      -o-transform: translate(30px, -60px);
    }

    66% {
      transform: translate(-20px, 20px);
      -webkit-transform: translate(-20px, 20px);
      -moz-transform: translate(-20px, 20px);
      -ms-transform: translate(-20px, 20px);
      -o-transform: translate(-20px, 20px);
    }
  }

  @keyframes blob2 {
    0%,
    100% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(-40px, 60px) scale(1.05);
    }
    66% {
      transform: translate(20px, -40px) scale(0.95);
    }
  }

  @keyframes blob3 {
    0%,
    100% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(20px, -40px) scale(1.15);
    }
    66% {
      transform: translate(-30px, -30px) scale(0.85);
    }
  }

  .animate-blob1 {
    animation: blob1 8s ease-in-out infinite;
  }

  .animate-blob2 {
    animation: blob2 10s ease-in-out infinite;
  }

  .animate-blob3 {
    animation: blob3 12s ease-in-out infinite;
  }
}

.input-box {
  @apply w-full flex justify-between gap-3 text-sm text-black bg-gray-50/50 rounded px-4 py-3 mb-4 mt-3 border border-gray-100 outline-none focus:focus-within:border-orange-300;
}

.btn-primary {
  @apply w-full flex items-center justify-center gap-3 text-sm font-medium text-white bg-black shadow-lg shadow-orange-600/5 p-[10px] rounded-md my-1 hover:bg-orange-600/15 hover:text-black cursor-pointer;
}

.btn-small {
  @apply flex items-center justify-center gap-3 bg-linear-to-r
  from-[#FF9324] to-[#e9944b] text-sm font-semibold text-white px-7 rounded-lg hover:bg-black hover:text-white transition-colors cursor-pointer hover:shadow-2xl hover:shadow-orange-300;
}